body {
    background: linear-gradient(45deg, rgb(255, 0, 125), rgb(0, 183, 255));
}

p {
    margin-top: 25px;
    margin-bottom: 180px;
    text-align: center;
}

h1 {
    margin-top: 20px;
    text-align: center;
}

.container {
    margin-bottom: 25px;
}

.imageclass {
    margin: 0 auto;
    max-width: 35%;
}

