body {
  background: linear-gradient(
    45deg,
    rgb(255, 0, 125),
    rgb(0, 183, 255)
  ); /* Här använder jag mig av linear-gradient som ger en mjuk övergång mellan färger. 45deg står för 45 deegrees vilket gör att övergången mellan färgerna görs lodrätt. */
}

p {
  padding: 25px; /* Utrymme till text så inte bild och text sitter ihop med varandra */
  text-align: center; /* Text är centrerad */
}

h1 {
  padding: 25px; /* Enbart för att första begreppet inte ska sitta högst upp på sidan */
  text-align: center; /* Gör att text ligger på en och samma rad, samt att rubriker positioneras i mitten */
}

.imageclass {
  margin: 0 auto; /* För att bilden ska vara centrerad och hålla sin form och skala */
  max-width: 35%; /* Valt att bilderna ska vara 35% av sin ursprungliga storlek, bilderna kan inte bli större än 35% av sin ursprungliga storlek */
}

.nav-link {
  font-size: 15px; /* Storleken på texten i navbaren */
}
